.header{

  h1{
  color: #50B810;
  }
}

.plus{
  background-color: #EBEEF6;
  width: 20px;
  height: 20px;
  border-radius: 4px;

  h2 {
    color: #3D8FEC;
    font-weight: bolder;
  }
}

.task{
  color:#7B8AAB;
  font-weight: bolder;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border-color: 1px #7B8AAB;
}