.mycolom{
  width: 350px; /* Ширина блока */
  height: 1000px; /* Высота блока */

  /* Включаем отображение полос прокрутки по горизонтали
  и по вертикали */
  overflow-y: scroll;
  overflow-x: hidden ;

}

